head, body, html {
    color: ivory;
    background-color: #d1d1ff;
    font-family: 'Lato', sans-serif;
}

.content {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-toolbar{
    margin: 0;
    position: absolute;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.form-control {
    border-radius: 70px;
    border: 1.5px solid ivory;
    width: 400px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.btn-custom {
    color: ivory;
    border-color: ivory;
    border-radius: 7px;
}

.btn-custom:hover {
    background-color: ivory;
    color: #d1d1ff;
}

.btn-custom:focus {
    background-color: ivory;
    color: #d1d1ff;
}

h1{
    font-size: 120px;
    padding-top: 10%;
}

h2{
    font-size: 24px;
    padding-top: 60%;
    padding-bottom: 2%;
}


h3{
    font-size: 24px;
    padding-top: 6.5%;
    padding-bottom: 2%;
}

h4{
    font-size: 36px;
    padding-top: 1%;
}

.navbar-custom{
    font-size: 48px;
    background-color: #d1d1ff;
    position: relative;
    left: 5px;
    top: 5px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-test{
    color: ivory;
    font-size: 36px;
    padding-left: 2%;
}

.form {
    margin-top: 20px;
}

#content {
    width: 70%;
}