head, body, html {
    color: #d1d1ff;
    background-color: #242336;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

body#home, html {
    color: d1d1ff;
    background: #242336;
    font-weight: 300;
}

.content {
    margin: auto;
    width: 50%;
}

.btn-toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -9%;
}

.input-group .form-control {
    border-radius: 70px;
    border: 1.5px solid snow;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.btn-custom {
    color: #d1d1ff;
    border-color: #d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
}

.btn-custom-solid {
    background-color: #d1d1ff;
    color: #242336;
    border-color:#d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    font-size: 13px;
}

.btn-custom-solid:hover {
    color: #aaa;
}

.btn-custom:hover {
    background-color: #d1d1ff;
    color: #242336;
}

.btn-custom:focus {
    background-color: snow;
    color: #d1d1ff;
}

h1{
    font-size: 120px;
    padding-top: 10%;
}

h2{
    font-size: 24px;
    padding-top: 7%;
    padding-bottom: 2%;
}


h3{
    font-size: 24px;
    padding-top: 4%;
    padding-bottom: 2%;
}

h4{
    font-size: 40px;
    padding-top: 2%;
}

.btn-toolbar .btn-group{
    padding-top: 10%;
}

.navbar-custom{
    background-color: #d1d1ff;
    position: relative;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-test{
    color: #242336;
    font-size: 28px;
    padding-left: 1%;
}

.card-deck .card {
    background-color: #414063;
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
    margin: 1%;
    border-radius: 20px;
    opacity: 1;
    width: 200%;
    height: 200%;
    flex-direction: row;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}

.card .card-img {
    border-radius: 20px;
    margin: 1%;
    max-width: 50%;
    max-height: 50%;
    transition: transform 0.3s ease;
}

.card .card-img:hover {
    transform: scale(1.07);
}

.card .img_link {
    display: contents;
}

.card small {
    color: #d1d1ff; 
    font-size: 13px;
}

.card .btn-custom-solid {
    background-color: #d1d1ff;
    color: #242336;
    border-color:#d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    font-size: 13px;
    transition: transform 0.3s ease;
}

.card .btn-custom-solid:hover {
    transform: scale(1.07);
}

.album {
    width: 200px;
    height: 200px;
}