head, body, html {
    color: #d1d1ff;
    background-color: #242336;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
}

.btn-toolbar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: -9%;
}

.btn-custom {
    color: #d1d1ff;
    border-color: #d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
}

.btn-custom-solid {
    background-color: #d1d1ff;
    color: #242336;
    border-color:#d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    font-size: 13px;
}

.btn-custom-solid:hover {
    color: #242336;
}

.btn-custom:hover {
    background-color: #d1d1ff;
    color: #242336;
}

.btn-custom:focus {
    background-color: #d1d1ff;
    color: #242336;
}

h1{
    font-size: 120px;
    padding-top: 10%;
}

h2{
    font-size: 24px;
    padding-top: 4%;
    padding-bottom: 1%;
}


h3{
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 1%;
}

h4{
    font-size: 40px;
    padding-top: 2%;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.btn-toolbar .btn-group{
    padding-top: 10%;
}

.navbar-custom{
    background-color: #d1d1ff;
    position: relative;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-test{
    color: #242336;
    font-size: 28px;
    padding-left: 1%;
}

.container {
    margin: auto;
    width: 100%;
}

.col {
    margin: auto;
    width: 100%;
}

.card-deck {
    width: 100%;
}

.card-deck .card {
    background-color: #414063;
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
    margin: 1%;
    border-radius: 20px;
    opacity: 1;
    width: 100%;
    height: 100%;
    flex-direction: row;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
}

.card .card-img {
    border-radius: 20px;
    margin: 1%;
    max-width: 50%;
    max-height: 50%;
    transition: transform 0.3s ease;
}

.card .card-img:hover {
    transform: scale(1.07);
}

.card .img_link {
    display: contents;
}

.card small {
    color: #d1d1ff; 
    font-size: 13px;
}

.card .btn-custom-solid {
    background-color: #d1d1ff;
    color: #242336;
    border-color:#d1d1ff;
    border-radius: 7px;
    border-radius: 20px;
    margin-bottom: 0px;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    font-size: 13px;
    transition: transform 0.3s ease;
}

.card .btn-custom-solid:hover {
    transform: scale(1.07);
}

.album {
    width: 200px;
    height: 200px;
}

.wrapper {
    margin: 0 auto;
    background: snow;
    border-radius: 20px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.66);
    position: relative;
    width: 50%;
}

input {
    width:100%;
    border: none;
    height: 50px;
    border-radius: 20px;
    padding: 0px 40px 0px 10px;
    font-size: 18px;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.66);
    background-color: snow;
    color: #242336;
}
  
input:focus {
    outline: none;
}
  
.search-btn button{
    position: absolute;
    border: none;
    background: none;
    top: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 50px;
}
  
.search-btn button:focus {
    outline: none;
}
  
.search-btn button i {
    width: 100%;
    color: #242336;
    line-height: 50px;
    font-size: 22px;
}

svg {
    display: block;
    margin: auto;
}

.dataviz {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.container#search-again {
    padding-bottom: 2%;
}
