{% extends "base.html" %}

{% block head%}
<h1 style="text-align: center"> moodi </h1>
{%endblock%}

{% block body%}
<div style="text-align: center" class="content">
    <h2 style="text-align: center">Login to Access Your Personalized Listening Analysis</h2>
    <button type="log-in-button", class="btn btn-outline-light">Login With Spotify</button>
    <br>
    <!-- <table>

        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th></th>
        </tr>
        {% for track in top_tracks %}
            <tr>
                <td>{{ sp.track(track)['name'] }}</td>
                <td>{{ sp.track(track)['artists'][0]['name'] }}</td>
                <td>
                    <a href="/recs/{{track}}">Similar Songs</a>
                </td>
            </tr>
        {% endfor %}
    </table> -->
    <h3>Search for a Song to View its Audio Features and Similar Songs</h3>
    <form action="">
        <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
          <div class="input-group">
            <input type="search" placeholder="Search for a Song" aria-describedby="search-button" class="form-control border-0 bg-light">
            <div class="input-group-append">
              <button id="search-button" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" style="color:#d1d1ff"></i></button>
            </div>
          </div>
        </div>
    </form>
</div>
{%endblock%}