{% extends "base.html" %}

{% block head%}
<h1 style="text-align: center"> moodi </h1>
{%endblock%}

{% block body%}
<div style="text-align: center">
    <h2 style="text-align: center">Login to Access Your Personalized Listening Analysis</h2>
    <form action="/top-tracks/short-term">
        <button type="submit", class="btn btn-custom", action= "/top-tracks/">
            Login With Spotify
        </button>
    </form>
    <br>
    <h3>Search for a Song to View its Audio Features and Similar Songs</h3>
    <div class="container">
        <div class="wrapper">
            <input type="text" name="search" id="search" placeholder="Search for a song" autocomplete="chrome-off">
            <div class="search-btn">
                <button><i class="fa fa-search"></i></button>
            </div>
            <div class="results">
            </div>
        </div>
    </div>
    <script src="../js/script.js"></script>
    <script>
        let searchable = [
            "Don't Know What To Do - BLACKPINK",
            "Door (Your Moon) - Jeong Sewoon"
        ];

        const searchInput = document.getElementById('search');
        const searchWrapper = document.querySelector('.wrapper');
        const resultsWrapper = document.querySelector('.results');

        searchInput.addEventListener('keyup', () => {
        let results = [];
        let input = searchInput.value;
        if (input.length > 0) {
            results = searchable.filter((item) => {
            return item.toLowerCase().includes(input.toLowerCase());
            });
        }
        renderResults(results);
        });

        function renderResults(results) {
        if (results.length == 0) {
            return searchWrapper.classList.remove('show');
        }

        const content = results
            .map((item) => {
            return `<li>${item}</li>`;
            })
            .join('');

        searchWrapper.classList.add('show');
        resultsWrapper.innerHTML = `<ul>${content}</ul>`;
        }
    </script>
</div>
{%endblock%}