{% extends "base.html" %}

{% block head%}
<h1 style="text-align: center"> moodi </h1>
{%endblock%}

{% block body%}
<div style="text-align: center">
    <h2 style="text-align: center">Login to Access Your Personalized Listening Analysis</h2>
    <form action="/" method='POST'>
        <button action='/' type="submit", class="btn btn-custom", name='login' value='login'>
            Login With Spotify
        </button>
    </form>
    <br>
    <h3>Search for a Song to View its Audio Features and Similar Songs</h3>
    <div class="container">
        <div class="wrapper">
            <form method = 'POST' action="/search/">
                <input type="text" method = 'POST' action="/search/" name="search" id="search" placeholder="Search for a song" autocomplete="off">
                <div class="search-btn">
                    <button><i method = 'POST' action="/search/" class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}