{% extends "base.html" %}

{% block head%}
<nav class="navbar navbar-custom", action="/">
    <a class="navbar-brand" href="/">
        moodi
    </a>
</nav>
<h4 style= "text-align: center;">
    {{ sp.track(track)['name'] }}
    <h5 style= "text-align: center;">
        by {{ sp.track(track)['artists'][0]['name'] }}
    </h5>
    <br>
    <h5 style= "text-align: center;">
        Danceability (D): {{ mood[0]['score'] }} &nbsp;&nbsp; Valence (V): {{ mood[1]['score'] }} &nbsp;&nbsp;  Energy (E): {{ mood[2]['score'] }}

    </h5>
</h4>
{%endblock%}

{% block body%}

<section class="" id="tracks">
    <div class="container h-100 pt-5" id="graph">
        <div class="row mt-2">
            <div class="col-10 offset-1" id="graph">  
                <div class='dataviz' id="my_dataviz"></div> 
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-10 offset-1">
                <h4>
                    Recommendations
                    <form method='POST' action = '/save-recs/' style='display: inline;'>
                        <button type="submit", class="btn btn-custom", action= "/save-recs/", name = "save",  value="{{ recs|join('') + track }}">
                        Save as a Playlist
                    </button>
                    </form>
                </h4>    
                {% for i in range(10) %}
                {% set count = (loop.index - 1) * 2 %}
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href="{{ sp.track(recs[count])['external_urls']['spotify'] }}">
                            <img class="card-img" src= "{{sp.track(recs[count])['album']['images'][0]['url']}}">     
                        </a>
                        <div class="card-body">
                            <h5>{{count + 1}}. {{ sp.track(recs[count])['name'] }}</h5>
                            <small>By {{ sp.track(recs[count])['artists'][0]['name'] }}</small>
                            <br>
                            <br>
                            <br>
                            <form method= 'POST', action="/recs/">
                                <button type="submit", name= "recs", class="btn btn-custom-solid", value="{{ recs[count] }}", action= "/recs/">
                                    Audio Analysis and Similar Songs
                                </button>
                            </form>
                        </div>
                    {% set count = count + 1%}
                    </div>
                    <div class="card">
                        <a class="img_link" href="{{ sp.track(recs[count])['external_urls']['spotify'] }}">
                            <img class="card-img" src= "{{sp.track(recs[count])['album']['images'][0]['url']}}">     
                        </a>
                        <div class="card-body">
                            <h5>{{count + 1}}. {{ sp.track(recs[count])['name'] }}</h5>
                            <small>By {{ sp.track(recs[count])['artists'][0]['name'] }}</small>
                            <br>
                            <br>
                            <br>
                            <form method= 'POST', action="/recs/">
                                <button type="submit", name= "recs", class="btn btn-custom-solid", value="{{ recs[count] }}", action= "/recs/">
                                    Audio Analysis and Similar Songs
                                </button>
                            </form> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div id="mood" data='{{ data }}'></div>
<script>


var mood = document.getElementById("mood").getAttribute('data');
var data = JSON.parse(mood);


var margin = {top: 10, right: window.innerWidth / 8, bottom: 40, left: window.innerWidth / 8},
width = window.innerWidth / 2- margin.left - margin.right,
height = window.innerHeight / 3 - margin.top - margin.bottom;

var svg = d3.select("#my_dataviz").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("viewBox", [0, 0, width + margin.left + margin.right, height + margin.top + margin.bottom], preserveAspectRatio="xMaxYMax meet")
    .append("g")
    .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")")
    .classed("svg-content-responsive", true);

var x = d3.scaleLinear()
    .domain([0, 100])
    .range([ 0, width]);
svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .selectAll("text")
    .attr("transform", "translate(-10,0)rotate(-45)")
    .style("text-anchor", "end");
        
var y = d3.scaleBand()
    .range([ 0, height ]) 
    .domain(data.map(function(d) { return d.name.substring(0,1); }))
    .padding(1);
svg.append("g")
    .call(d3.axisLeft(y))
    .style("font", "14px Lato")
        
svg.selectAll("myline")
    .data(data)
    .enter()
    .append("line")
        .attr("x1", x(0))
        .attr("x2", x(0))
        .attr("y1", function(d) { return y(d.name.substring(0,1)); })
        .attr("y2", function(d) { return y(d.name.substring(0,1)); })
        .attr("stroke", "#d1d1ff")
        .style("stroke-width", 3)

svg.selectAll("mycircle")
    .data(data)
    .enter()
    .append("circle")
        .attr("cx", x(0))
        .attr("cy", function(d) { return y(d.name.substring(0,1)); })
        .attr("r", "8")
        .style("fill", "#d1d1ff")
        .attr("stroke", "#d1d1ff")
        .style("stroke-width", 1)

svg.selectAll("circle")
    .transition()
    .duration(1500)
    .attr("cx", function(d) {return x(d.score); })
    
svg.selectAll("line")
    .transition()
    .duration(1500)
    .attr("x1", function(d) {return x(d.score); })

</script>

</script>
{%endblock%}