{% extends "base.html" %}

{% block head%}

{%endblock%}

{% block body%}
<div class="content">
    <h1 style="text-align: center"> moodi </h1>
    <h2 style="text-align: center">Similar Songs</h2>
    <!--<table>

        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th></th>
        </tr>
        {% for track in recs %}
            <tr>
                <td>{{ sp.track(track)['name'] }}</td>
                <td>{{ sp.track(track)['artists'][0]['name'] }}</td>
                <td>
                    <a href="/recs/{{track}}">Similar Songs</a>
                </td>
            </tr>
        {% endfor %}
    </table>-->
</div>
{%endblock%}