{% extends "base.html" %}

{% block head%}
<nav class="navbar navbar-custom", action="/">
    <a class="navbar-brand" href="/">
        moodi
    </a>
</nav>
<h4 style="text-align: center">Select a Time Range</h4>
{%endblock%}

{% block body%}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="Group">
        <button type="submit", class="btn btn-custom", action= "/top-tracks/" method="POST">
            1 Month
        </button>
    </div>
        
    <div class="btn-group mr-2" role="Group">
        <button type="submit", class="btn btn-custom", action= "/top-tracks/" method="POST">
            6 Month
        </button>
    </div>

    <div class="btn-group mr-2" role="Group">
        <button type="submit", class="btn btn-custom", action= "/top-tracks/" method="POST">
            All Time
        </button>
    </div> 
</div>



<section class="" id="tracks">
    <div class="container h-100 pt-5">
        <div class="row">
            <div class="col-10 offset-1">
                <h4 style="text-align: center">
                    Your Top Songs
                </h4>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-10 offset-1">
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>1. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                        
                    </div>
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>2. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>3. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>4. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>5. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>6. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>7. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>8. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>9. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                    <div class="card">
                        <a class="img_link" href=https://open.spotify.com/track/38SKB7UfhL6Sd6Joxex5yK>
                            <img class="card-img" src= https://i.scdn.co/image/ab67616d0000b273e20e5c366b497518353497b0>     
                        </a>
                        <div class="card-body">
                            <h5>10. Don't Know What To Do</h5>
                            <small>By BLACKPINK</small>
                            <br>
                            <br>
                            <br>
                            <button type="submit", class="btn btn-custom-solid", action= "/recs/">
                                View an Audio Analysis and Similar Songs
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!--<table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th></th>
        </tr>
        {% for track in recs %}
            <tr>
                <td>{{ sp.track(track)['name'] }}</td>
                <td>{{ sp.track(track)['artists'][0]['name'] }}</td>
                <td>
                    <a href="/recs/{{track}}">Similar Songs</a>
                </td>
            </tr>
        {% endfor %}
    </table>-->
</div>
{%endblock%}