{% extends "base.html" %}

{% block head%}
<nav class="navbar navbar-custom", action="/">
    <a class="navbar-brand" href="/">
        moodi
    </a>
</nav>
<h4 style="text-align: center;">
    Select a Time Range
</h4>
{%endblock%}

{% block body%}
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="Group">
        <form action="/top-tracks/short-term">
            <button type="submit", class="btn btn-custom", action= "/top-tracks/short-term" method="POST" id="short_term">
            1 Month
        </button>
        </form>
    </div>
        
    <div class="btn-group mr-2" role="Group">
        <form action="/top-tracks/medium-term">
            <button type="submit", class="btn btn-custom", action= "/top-tracks/medium-term" method="POST" id= "medium_term">
            6 Month
            </button>
        </form>  
    </div>

    <div class="btn-group mr-2" role="Group">
        <form action="/top-tracks/long-term">
            <button type="submit", class="btn btn-custom", action= "/top-tracks/long-term" method="POST" id="long_term" style="background-color: #d1d1ff; color: #242336">
            All Time
            </button>
        </form>
    </div> 
</div>

<section class="" id="top_tracks">
    <div class="container h-100 pt-5">
        <div class="row mt-2">
            <div class="col-10 offset-1">
                <h4>
                    <img class="pfp" src= "{{ sp.current_user()['images'][0]['url'] }}">
                    Your Top Songs
                    <form method='POST' action = '/save-top-tracks/', style='display: inline;'>
                        <button type="submit", action = '/save-top-tracks/', class="btn btn-custom", name= "save", id="save_top_tracks", value="save_long_top_tracks">
                            Save as a Playlist
                        </button>
                    </form>
                </h4>           
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-10 offset-1">
                {% set length = top_tracks | length %}
                {% set length = (length / 2) | int %}
                {% for i in range(length) %}
                {% set count = (loop.index - 1) * 2 %}
                <div class="card-deck">
                    <div class="card">
                        <a class="img_link" href="{{ sp.track(top_tracks[count])['external_urls']['spotify'] }}">
                            <img class="card-img" src= "{{sp.track(top_tracks[count])['album']['images'][0]['url']}}">     
                        </a>
                        <div class="card-body">
                            <h5>{{count + 1}}. {{ sp.track(top_tracks[count])['name'] }}</h5>
                            <small>By {{ sp.track(top_tracks[count])['artists'][0]['name'] }}</small>
                            <br>
                            <br>
                            <br>
                            <form method="POST" action="/recs/">
                                <button type="submit", name= "recs", class="btn btn-custom-solid", value="{{ top_tracks[count] }}", action= "/recs/">
                                    Audio Analysis and Similar Songs
                                </button>
                            </form>
                        </div>
                    </div>
                    {% set count = count + 1 %}
                    <div class="card">
                        <a class="img_link" href="{{ sp.track(top_tracks[count])['external_urls']['spotify'] }}">
                            <img class="card-img" src= "{{sp.track(top_tracks[count])['album']['images'][0]['url']}}">     
                        </a>
                        <div class="card-body">
                            <h5>{{count + 1}}. {{ sp.track(top_tracks[count])['name'] }}</h5>
                            <small>By {{ sp.track(top_tracks[count])['artists'][0]['name'] }}</small>
                            <br>
                            <br>
                            <br>
                            <form method="POST" action="/recs/">
                                <button type="submit", name= "recs", class="btn btn-custom-solid", value="{{ top_tracks[count] }}", action= "/recs/">
                                    Audio Analysis and Similar Songs
                                </button>
                            </form> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{%endblock%}